@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Outfit&display=swap");
/* 
///// COLORS /////
*/
:root {
  --body-color: #fff;
  --first-color: #0092da;
  --first-color-second: #ff792e;
  --title-color: #000000;
  --text-color: #555555;
  --bg-color: #eeeeee;
  --bg-color-2: #005a86;
}

/* 
///// FONT WEIGHT /////
*/
:root {
  --font-bold: bold;
  --font-semi-bold: 500;
}

/* 
///// TRANSITION /////
*/
:root {
  --transition: all 0.3s linear;
}
/* 
///// BASE /////
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  background-color: var(--body-font);
  color: var(--text-color);
  font-weight: bold;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

h2 {
  font-size: 20px;
  color: var(--title-color);
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 20px;
  color: var(--first-color);
  font-family: "Outfit", sans-serif;
}

p {
  line-height: 26px;
}

button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  width: 100%;
  display: block;
}

/* ///// MAIN CSS ///// */

/* HAMBURGER */
#js-btn,
.cross {
  cursor: pointer;
}

#js-nav.show {
  right: 0;
  display: block;
}

/* DOWN MENU CSS */
.down-p {
  display: none;
  transition: all 0.3s;
  opacity: 0;
}

.down-p.active,
.down-p.active,
.donw-p.active {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.click-arrow {
  transition: all 0.3s;
}

.click-arrow.rotate {
  transform: rotate(180deg);
}

/* NAV MENU */
.nav-menu {
  /* none */
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  padding-top: 20px;
  right: -100%;
  transition: all 0.3s;
}

.menu-wrapper {
  position: relative;
  height: 100%;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.icons {
  display: flex;
  align-items: center;
}

.menu-header .logo {
  width: 153px;
  height: 40px;
}

.menu-header .Qbtn {
  margin-right: 25px;
}

.Qbtn {
  width: 40px;
}

.menu-inner {
  width: 80%;
  margin: 40px auto 0 auto;
}

.menu-lists {
  display: grid;
  gap: 40px;
  font-size: 16px;
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 70px;
}

.menu-inner .contact-btn {
  font-size: 16px;
  font-weight: var(--font-bold);
  color: #fff;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--first-color-second);
  padding: 15px 0;
  border-radius: 100px;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #ff792e;
  padding: 15px;
}

.phone-wrapper {
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-text {
  color: #fff;
}

.phone-text p {
  font-size: 20px;
  font-weight: var(--font-bold);
}

.phone-text p:nth-child(2) {
  font-size: 35px;
}

/* HEADER */

.header {
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #fff;
  transition: all 0.3s;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner .icons .Qbtn {
  margin-right: 20px;
}

/* FOLLOWING HEADER */
.header.fixed {
  position: fixed;
  z-index: 10;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TOPVIDUAL */

.top-vidual {
  height: 650px;
  /* background-image: url(../img/top-img.png); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
}
.bg-text {
  position: absolute;
  top: 10px;
  left: 0;
  width: 270px;
}

.text-box {
  width: 230px;
  height: 180px;
  transform: rotate(-35deg);
  background-color: #0093dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box p {
  color: #fff;
  font-size: 25px;
  white-space: pre-line;
  text-align: center;
  font-family: none;
  font-weight: bold;
  line-height: 40px;
}

.itaric {
  font-style: italic;
  font-size: 44px;
}
.letter-s {
  font-size: 40px;
  letter-spacing: 0.4rem;
}

.pen {
  position: absolute;
  top: 160px;
  left: 40px;
  width: 170px;
}

.pc {
  right: 0;
}

.triangle-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom left, #fff 50%, #dae4e9 50.5%) no-repeat
    top left/100% 100%;
  z-index: -1;
}

.top-circle {
  display: none;
}

.circles {
  position: absolute;
  bottom: 120px;
  margin: 0 auto;
  width: 100%;
}

.circle-inner {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
  min-width: 290px;
}

.blue-circle {
  white-space: pre-line;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--first-color);
  font-size: 24px;
  color: #0092da;
  background-color: #fff;
}

.rec {
  position: relative;
}

.attachment {
  position: absolute;
  width: 65px;
  top: -50px;
  left: -30px;
}

.blue-circle.little {
  font-size: 20px;
}

.blue-circle.little p {
  transform: translateY(3px);
}

.blue-circle p {
  transform: translateY(-9px);
}

.top-vidual .below-item {
  height: 90px;
  width: 100%;
  background-color: #ff792e;
  padding: 15px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 350px) {
  .top-vidual {
    height: 580px;
  }

  .bg-text {
    width: 220px;
  }

  .text-box {
    width: 190px;
    height: 150px;
  }

  .text-box p {
    font-size: 23px;
  }

  .itaric {
    font-size: 42px;
  }
  .letter-s {
    font-size: 38px;
  }

  .pen {
    width: 150px;
    top: 140px;
    left: 40px;
  }

  .pc {
    width: 150px;
  }

  .blue-circle {
    width: 85px;
    height: 85px;
    font-size: 22px;
  }

  .blue-circle.little {
    font-size: 18px;
  }

  .blue-circle p {
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 500px) {
  .top-vidual {
    height: 700px;
  }
  .bg-text {
    width: 300px;
    left: auto;
    right: 130px;
  }

  .text-box {
    width: 270px;
    height: 200px;
  }

  .text-box p {
    color: #fff;
    font-size: 33px;
    white-space: pre-line;
    text-align: center;
    font-family: none;
    font-weight: bold;
    line-height: 45px;
  }

  .itaric {
    font-size: 50px;
  }
  .letter-s {
    font-size: 50px;
  }

  .pen {
    width: 190px;
    top: 180px;
    left: 60px;
  }
}

/* MAIN */

section {
  padding: 60px 0;
}

.h2-span {
  font-size: 26px;
  color: var(--first-color);
  letter-spacing: 0.3rem;
  font-weight: bold;
}

section .title {
  text-align: center;
  white-space: pre-line;
  line-height: 30px;
  margin-bottom: 30px;
}

/* INTRODUCTION */
.introduction .title {
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.introduction .title::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/title-item.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: -40px;
}

.introduction .title::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/title-item.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: -40px;
  transform: rotateY(180deg);
}

.dots {
  position: relative;
}
.dots::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 8px;
}

.dots::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: var(--first-color);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 14px;
}

.intro-items {
  display: grid;
  gap: 60px;
}

.intro-items .item {
  display: grid;
  gap: 35px;
  width: 80%;
  margin: 0 auto;
  min-width: 290px;
}

.intro-items .item .item-title {
  text-align: center;
}

/* SOLUTION */
.solution {
  background: linear-gradient(to bottom left, #eeeeee 50%, #dae4e9 50.5%)
    no-repeat top left/100% 100%;
  position: relative;
}

.solution-inner {
  width: 80%;
  min-width: 290px;
  margin: 0 auto;
  z-index: 2;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
}

.sol-items {
  display: grid;
  gap: 60px;
}

.sol-items .item .img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sol-items .item .img .merit {
  font-size: 16px;
  color: var(--first-color);
  background-color: #fff;
  border-radius: 100px;
  border: 5px solid var(--first-color);
  text-align: center;
  width: 130px;
  letter-spacing: 0.1rem;
  padding: 10px 0;
  transform: translateY(-25px);
}

.sol-items .item .text-content h3 {
  line-height: 30px;
  margin-bottom: 30px;
}

/* CONTACT */
.contact-inner {
  border-radius: 20px;
  border: 8px solid var(--first-color-second);
  width: 80%;
  min-width: 290px;
  margin: 0 auto;
  padding: 60px 30px;
}
/* a part of common css */
.underline {
  background: linear-gradient(transparent 80%, var(--first-color-second) 30%);
}
.click-btn {
  width: 50px;
}
/* common ends */
.contact-inner .click-btn {
  margin: 40px auto 0 auto;
}

/* PLAN */
.plan {
  background-color: var(--bg-color-2);
  color: #000000;
  width: 100%;
}

.plan .title {
  color: #fff;
}

.plan-title p {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.plan .above-content {
  display: grid;
  gap: 60px;
  width: 100%;
  margin-bottom: 80px;
}

.plan .above-content .item {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  min-width: 290px;
  padding: 30px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.plan .above-content .item .title {
  border: 3px solid var(--first-color);
  color: var(--first-color);
  width: 150px;
  margin: 0 auto;
  font-size: 20px;
  padding: 5px 0;
}

.plan .above-content .item p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.cost {
  display: flex;
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
}

.cost .circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-color: var(--first-color);
  text-align: center;
}

.cost .circle p {
  transform: translateY(18px);
  color: #fff;
}

.plan .above-content .item .yen {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Outfit", sans-serif;
  transform: translateY(15px);
}
.yen span {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.item .text-items-plan {
  display: grid;
  gap: 20px;
}

.plan .contact-btn {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid var(--first-color);
  background-color: var(--first-color);
  color: #fff;
  padding: 15px;
  transform: translateY(35px);
}

/* changes of color */
.plan .above-content .item .title.navy {
  border: 3px solid var(--bg-color-2);
  color: var(--bg-color-2);
}

.cost .circle.navy {
  background-color: var(--bg-color-2);
}

.plan .contact-btn.navy {
  border: 1px solid var(--bg-color-2);
  background-color: #004e74;
}

.plan .above-content .item .title.orange {
  border: 3px solid var(--first-color-second);
  color: var(--first-color-second);
}

.cost .circle.orange {
  background-color: var(--first-color-second);
}

.plan .contact-btn.orange {
  border: 1px solid var(--first-color-second);
  background-color: var(--first-color-second);
}

/* BELOW-CONTENT */
.plan .below-content {
  width: 80%;
  margin: 0 auto;
  min-width: 290px;
}
.plan .below-content .below-title {
  text-align: center;
  color: #fff;
  white-space: pre-line;
  line-height: 30px;
  margin-bottom: 30px;
}

.below-content .inner-content .below-text {
  margin-bottom: 30px;
  color: #fff;
}

.below-content .inner-content .below-text p:nth-child(1) {
  margin-bottom: 30px;
}
.below-content .inner-content .item {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 30px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.below-content .inner-content .item .yen {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Outfit", sans-serif;
  transform: translateY(15px);
}

.below-content .item .title {
  border: 3px solid var(--first-color-second);
  color: var(--first-color-second);
  width: 210px;
  margin: 0 auto;
  font-size: 20px;
  padding: 5px 0;
}

.plan .below-content .item p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

/* CUSTOMERS */
.customers .title {
  position: relative;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.customers .title::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/title-item.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -70px;
}

.customers .title::after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../img/title-item.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: -70px;
  transform: rotateY(180deg);
}

.customers-v {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
}
.customers-v .item {
  width: 90%;
  background-color: var(--bg-color);
  min-width: 290px;
  padding: 30px 0;
}

.customers-v .item .voice {
  font-size: 16px;
  color: var(--first-color);
  background-color: #fff;
  border-radius: 100px;
  border: 5px solid var(--first-color);
  text-align: center;
  width: 160px;
  letter-spacing: 0.1rem;
  padding: 10px 0;
  transform: translate3d(-25px, 10px, 0);
}

.customers-v .item .img {
  width: 200px;
  margin: 20px auto;
}

.customers-v .item .item-text {
  width: 85%;
  margin: 0 auto;
  min-width: 250px;
}

.item .item-text .h3-items {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.item .item-text .h3-items h3 {
  width: 80%;
  line-height: 30px;
}
.item .item-text .h3-items .click-arrow {
  cursor: pointer;
}

/* FLOW */
.flow {
  background: linear-gradient(to bottom left, #eeeeee 50%, #dae4e9 50.5%)
    no-repeat top left/100% 100%;
}

.flow-inner {
  /* display: flex;
  justify-content: space-between; */
  width: 92%;
  margin: 0 auto;
}

.flow-inner .texts {
  width: 70%;
  margin: 0 auto;
  transform: translateX(50px);
}

.flow-inner .item-text {
  padding-bottom: 40px;
  position: relative;
}

.flow-inner .item-text .num {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  border: 5px solid var(--first-color);
  font-size: 30px;
  color: var(--first-color);
  position: absolute;
  top: -10px;
  left: -90px;
  z-index: 3;
}

.num p {
  transform: translateY(-18px);
}

.flow-inner .item-text::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--first-color);
  left: -62px;
}

.flow-inner .item-text.no-border::before {
  content: "";
  position: static;
}

.flow-inner .texts .h3-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flow-inner .texts .item-text p {
  margin-top: 30px;
}

.flow-inner .texts .item-text .click-arrow {
  cursor: pointer;
}

/* ABOUT */
.about-inner {
  width: 80%;
  margin: 0 auto;
  min-width: 290px;
}

.about-inner .img {
  width: 250px;
  margin: 0 auto 40px auto;
}

.about-inner .text-content p:nth-child(1) {
  margin-bottom: 30px;
}

.about-inner .text-content p:nth-child(2),
.about-inner .text-content p:nth-child(3) {
  font-size: 16px;
}

/* FOOTER */
.footer-contact {
  background-color: var(--first-color-second);
  color: #fff;
  padding: 50px 40px;
}

.footer-contact .contact-title {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.footer-contact .contact-title span {
  border-bottom: 5px solid #fff;
}

.footer-contact .click-btn {
  margin: 40px auto 0 auto;
}

.footer-content {
  background-color: var(--bg-color-2);
  color: #fff;
  padding: 40px 0;
}

.footer-lists {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-width: 320px;
  margin: 0 auto;
}

.footer-lists a {
  width: 50%;
  font-size: 16px;
  margin-bottom: 40px;
}

.footer-lists .child2 {
  order: 1;
}
.footer-lists .child4 {
  order: 2;
}

.footer-content .copy {
  text-align: center;
}

@media screen and (max-width: 340px) {
  .footer-lists {
    min-width: 290px;
  }

  .footer-lists a {
    font-size: 14px;
  }
}
